.scroll-box {
  input[type=checkbox] {
    width: 0.16rem;
    height: 0.16rem;
    background-color: #fff;
    -webkit-appearance: none;
    border: 1px solid #CCCCCC;
    border-radius: 50%;
    outline: none;
    align-items: center;
    position: relative;
    margin-right: 0.05rem;
  }

  input[type=checkbox]:checked {
    background-color: #DD3333;
    border: 1px solid #DD3333;
  }

  input[type=checkbox]:checked::after {
    content: '';
    position: absolute;
    width: 0.05rem;
    height: 0.08rem;
    color: #ffffff;
    border-top: 1.5px solid #ffffff;
    border-left: 1.5px solid #ffffff;
    transform: rotateZ(220deg);
    left: 3px;
  }

  .content-box {

    .shop-group {
      width: 100%;

      .company {
        width: 100%;
        height: 0.4rem;
        background: #F8F8F8;
        display: flex;
        justify-content: space-between;
        padding: 0 0.14rem 0 0.14rem;
        align-items: center;

        span {
          display: flex;
          align-items: center;

          img {
            width: 0.21rem;
            height: 0.21rem;
            padding: 0.04rem 0.035rem 0.04rem 0.035rem;
          }

          a {
            font-size: 0.14rem;
            color: #333333;
            margin: 0 0.05rem 0 0.07rem;
          }
        }

        a {
          font-size: 0.14rem;
          color: #333333;
        }
      }


    }
  }
}
