.scroll-box {
  .content-box {
    background-color: #EEEEEE;

    .show-shop {
      width: 100%;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      
      .shop-swiper {
        img {
          width: 100%;
          height: 3.75rem;
        }


        >hr {
          position: absolute;
          width: 100%;
          background-color: #999999;
          transform: scaleY(0.05);
          left: 0px;
          height: 0.01rem;
          bottom: 0rem;
        }
      }

      .shop-msg {
        display: flex;
        flex-direction: column;
        padding: 0.14rem;

        .name {
          font-size: 0.14rem;
          color: #333333;
        }

        .price-box {
          display: flex;
          margin: 0.2rem 0 0.12rem -0.02rem;
          align-items: flex-end;

          span {
            >a {
              color: #DD3333;
              font-size: 0.19rem;
            }

            >a:nth-of-type(2) {
              font-size: 0.24rem;
            }
          }

          >a {
            font-size: 0.12rem;
            color: #666666;
            margin: 0 0 0.05rem 0.25rem;
          }
        }

        .units-box {
          display: flex;

          a {
            font-size: 0.12rem;
            color: #999999;
            margin-right: 0.1rem;
          }
        }
      }

    }

    .selected-units {
      width: 100%;
      height: 0.45rem;
      background-color: #ffffff;
      margin: 0.1rem 0 0.1rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0.05rem 0 0.13rem;

      span {
        a:nth-of-type(1) {
          font-size: 0.14rem;
          color: #666666;
        }

        a:nth-of-type(2) {
          font-size: 0.14rem;
          color: #333333;
          margin-left: 0.35rem;
        }
      }

      img {
        width: 0.24rem;
        height: 0.24rem;
        padding: 0.05rem 0.06rem 0.05rem 0.06rem;
      }
    }

    .shop-tab {
      width: 100%;
      background-color: #ffffff;

      .btn-box {
        width: 100%;
        height: 0.45rem;
        display: flex;
        justify-content: space-around;
        position: relative;

        >li {
          width: 0.6rem;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.14rem;
          color: #333333;
          position: relative;
          border-bottom: 0.02rem solid transparent;

        }

        >hr {
          position: absolute;
          width: 100%;
          background-color: #999999;
          transform: scaleY(0.03);
          left: 0px;
          height: 0.01rem;
          bottom: -0.01rem;
        }

        .tab-active {
          border-bottom: 0.02rem solid #DD3333;
          color: #DD3333;
        }

      }

      .shop-recommend {
        width: 100%;

        li {
          width: 100%;

          img {
            width: 100%;
          }
        }
      }

      .shop-norms-params {
        width: 100%;

        li {
          width: 100%;
          position: relative;
          padding: 0.1rem;
          display: flex;

          >hr {
            position: absolute;
            width: 100%;
            background-color: #999999;
            transform: scaleY(0.03);
            left: 0px;
            height: 0.01rem;
            bottom: -0.01rem;
          }

          a:nth-of-type(1) {
            font-size: 0.14rem;
            color: #999999;
            width: 25%;
            display: flex;
          }

          a:nth-of-type(2) {
            font-size: 0.14rem;
            color: #333333;
          }
        }
      }
      .shop-norms-none{
        width:100%;
        height:1.7rem;
        display:flex;
        justify-content:center;
        align-items:center;
       background-color:#F8F8F8;
        font-size:0.12rem;
        color:#999999;
      }
    }
  }
  .footer {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    position: relative;

    >hr {
      position: absolute;
      width: 100%;
      background-color: #999999;
      transform: scaleY(0.03);
      left: 0px;
      height: 0.01rem;
      top: 0rem;
    }

    .tab-bar {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0.07rem 0 0.07rem 0;
      flex: 1;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        width: 0.51rem;

        img {
          width: 0.17rem;
          height: 0.17rem;
        }

        a {
          font-size: 0.11rem;
          color: #666666;
          margin-top: 0.02rem;
        }

        .count-circe {
          top: -0.05rem;
          right: 0rem;
          color: #FFFFFF;
          font-size: 0.1rem;
        }
      }
    }

    .toAddShopCar {
      width: 30%;
    }
  }
}
